@import '@/styles/color';

@tag-colors: {
  red: @error;
  green: @green;
  cyan: @cyan;
  blue: @processing;
  success: @success;
  processing: @processing;
  error: @error;
  warning: @warning;
};

.tag {
  display: inline-flex;
  align-items: center;
  height: auto;
  margin: 0 8px 0 0px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid;
  border-radius: 2px;
  transition: all 0.3s;

  &:not(:first-of-type) {
    margin-left: 8px;
  }

  &:hover {
    opacity: 0.8;
  }

  &.default {
    .tag-style(@gray-100, @gray-400, @gray-700, @gray-200);
  }
  .iconWrapper {
    margin-left: 3px;
    padding: 0 0.25rem;
    color: @gray-600;
    font-size: 1.25em;
    cursor: pointer;
  }

  .tagText {
    margin-left: 8px;
  }

  each(@tag-colors, {
    &.@{key} {
      .tag-style(lighten(@value, 40%), lighten(@value, 35%), @value)
    }
  });
}

.tag-style(
  @background,
  @border,
  @color,
  @hover-background: lighten(@background, 7.5%),
  @hover-border: @border,
  @hover-color: @color
) {
  color: @color;
  background: @background;
  border-color: @border;

  &:hover {
    color: @hover-color;
    // background: @hover-background;
    border-color: @hover-border;
  }
}
