.introduction {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: #13316d;
  background-position: 50% 50%;
  background-size: 100% auto;
  background-attachment: fixed;
}

@media screen and (min-width: 769px) {
  .introduction {
    background-color: #213e78;
    background-image: url('~Images/bg-pc.jpg');
    background-size: 100% auto;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  margin-top: -10em;
}

.name {
  font-size: 2em;
}

.desc {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
}

.nav {
  display: flex;
  margin-top: 16px;
  color: #40a9ff;
  font-size: 1.2em;
  line-height: 1;
}

.navItem {
  position: relative;
  padding: 0 16px;
}

.navItem + .navItem {
  border-left: 2px solid #fff;
}
