@import '@/styles/default';

.container {
  display: grid;
  gap: 16px;
  height: 100%;
  overflow-y: auto;
  // grid-template-columns: repeat(2, 1fr);
}
@media (min-width: @screen-xs-min) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: @screen-sm-min) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: @screen-md-min) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: @screen-lg-min) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: @screen-xl-min) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: @screen-xxl-min) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
